<div class="row">
  <div class="col-md-8">
    <div id="incomplete" class="well well-lg">
      <%= render @incomplete %>

        <br><%= link_to 'New list', new_list_path, id: "new_link", remote: true, class: "btn btn-primary"%>
      </div>
    </div>
    <div class="col-md-4">
      <div id="complete" class="well well-lg"> 
        <h3>Complete</h3>
        <%= render @complete %>
      </div>
    </div>
</div>
